main
  gap: 0 !important
  grid-column: 3 / span 9

  .hero
    grid-column: 2 / -2
    padding: 100px 0
    min-height: 100%
    display: flex
    align-items: flex-start
    @media #{$tablet}
      grid-column: 2 / -2
    .hero-image-container
      min-width: 50%
      min-height: 100%
      img
        object-fit: cover
        min-height: 50rem
        position: relative
      @media #{$tablet}
        display: none
        visibility: hidden

    .heading
      display: grid
      grid-template-columns: repeat(6, 1fr)
      > h1,
      p,
      a
        grid-column: 1 / 7
        @media #{$tablet}
          grid-column: 1 / 5
          padding: 0 20px
      .hero-heading
        font-size: clamp(2.5rem, 4vw, 80px)
        margin-top: 1rem
        margin-left: -7px
        line-height: .9

      .hero-sub-title
        grid-column: 1 / 7
        position: relative
        padding-left: 10px
        &::before
          position: absolute
          content: ''
          width: 2px
          height: 15px
          background-color: #ee0f39
          top: 50%
          -webkit-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          transform: translateY(-50%)
          left: 0
        @media #{$ipadmini}
          grid-column: 1 / 7
          padding-left: 20px

      .hero-subheading
        margin-top: 24px

    .hero-image-1
      grid-column: 1 / 7
      margin-top: 40px
      background-color: pink
      height: 300px
      max-width: 100%
      background-image: url("../assets/images/hero-image-2.webp")
      background-size: cover
      -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 1.3s
      animation: fade 1.5s ease 1.3s
    .contact-button
      z-index: 1
      background-color: #ee0f39
      width: fit-content
      padding: 12px 20px
      margin-top: 24px
      text-decoration: none
      color: white
      border-radius: 8px
      &:active
        color: inherit

  .sidebar-service
    background-color: rgb(212, 212, 212)
    padding: 20px

    grid-column: 9 / 12
    justify-self: end
    height: fit-content

  ul
    list-style: none
    padding: 0

  .about
    grid-column: 1 / -1
    display: grid
    grid-template-columns: repeat(12, 1fr)
    margin-top: 100px
    background-color: #fff
    padding: 100px
    @media #{$ipadmini}
      grid-column: 1 / -1
      color: white
    .about-container
      grid-column: 2 / -2
      display: grid
      grid-template-columns: repeat(12, 1fr)
      .about-image
        background-image: url("../assets/images/car-mechanic-with-client-in-repair-garage-rockville-md-2022.webp")
        background-size: cover
        margin-right: 4rem
        background-color: blue
        grid-column: 1 / 8
        grid-row: 1 / 6
        @media #{$laptop}
          padding: 4rem
          grid-column: 1 / 7
        @media #{$tablet}
          margin-right: 0
          padding: 0rem
        @media #{$ipadmini}
          filter: grayscale(100%) opacity(90%)
          grid-column: 1 / 13
          padding-left: 1rem

      .about-sub-title
        grid-column: 8 / 11
        grid-row: 1 / span 1
        position: relative
        padding-left: 10px
        text-transform: uppercase
        @media #{$laptop}
          grid-column: 7 / 13
        @media #{$ipadmini}
          grid-column: 1 / 13
          padding-left: 1rem
          padding-top: 1rem
          text-shadow: 1px 1px 1px #000000

        .red
          color: red
        &::before
          position: absolute
          content: ''
          width: 2px
          height: 15px
          background-color: #ee0f39
          top: 50%
          -webkit-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          transform: translateY(-50%)
          left: 0
      .about-title
        grid-column: 8 / 11
        grid-row: 2 / span 1
        z-index: 1
        font-size: 40px
        line-height: 1.1
        margin-top: 40px
        @media #{$laptop}
          grid-column: 7 / 13
        @media #{$ipadmini}
          grid-column: 1 / 13
          padding-left: 1rem
          text-shadow: 1px 1px 1px #000000

      .about-description
        font-weight: 500
        position: relative
        margin-top: 40px
        padding-bottom: 60px
        grid-column: 8 / 11
        grid-row: 3 / span 3
        @media #{$laptop}
          grid-column: 7 / 13
        @media #{$ipadmini}
          grid-column: 1 / 13
          padding-left: 1rem
          text-shadow: 1px 1px 5px #000000

        .about-button
          position: relative
          top: 40px
          background-color: #ee0f39
          width: fit-content
          padding: 12px 20px
          text-decoration: none
          color: white
          border-radius: 8px
          text-shadow: 1px 1px 1px #000000
          &:active
            color: inherit
        .about-image-2
          background-image: url("../assets/images/mechanic-rockville-md-nearby.webp")
          background-size: contain
          background-repeat: no-repeat
          grid-column: 11 /13
          position: absolute
          bottom: -120px
          right: -100px
          height: 150px
          width: 200px
          @media #{$laptop}
            right: 0
          @media #{$tablet}
            height: 150px
            width: 150px
            right: -30px
          @media #{$ipadmini}
            display: none
            visibility: hidden

      .sidebar-service
        grid-column: 9 / 13
        grid-row: 1 / span 3
        @media #{$laptop}
          display: none
          visibility: hidden

  .service
    grid-column: 2 / 12
    display: grid
    grid-template-columns: repeat(12, 1fr)
    margin-top: 100px
    .service-subtitle
      grid-column: 1 / 13
      grid-row: 1 / span 1
      position: relative
      font-size: 20px
      padding-left: 10px
      text-transform: uppercase
      justify-self: center
      &::before
        position: absolute
        content: ''
        width: 2px
        height: 15px
        background-color: #ee0f39
        top: 45%
        -webkit-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        transform: translateY(-50%)
        left: 0
    .service-title
      grid-column: 1 / 13
      text-align: center
      font-size: 40px
      color: blue
      margin-top: 20px

    .service-items
      grid-column: 1 / 13
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 32px
      padding: 0 12rem
      margin-top: 48px
      @media #{$laptop}
        padding: 0 3rem
        gap: 32px
      @media #{$tablet}
        padding: 0rem
        grid-template-columns: 1fr 1fr
        padding: 0 3rem
      @media #{$ipadmini}
        padding: 0rem
        grid-template-columns: 1fr
        padding: 0 4rem
      @media #{$mobile}
        padding: 0 1.5rem
      .single-service
        height: 250px
        overflow: hidden
        padding: 38px 22px
        position: relative
        border-radius: 10px
        transition: all 0.5s ease-in-out
        background-color: #e4f3ffa6
        &:hover
          box-shadow: 0px 11px 18px 0px rgb(0 0 0 / 29%)
          background-color: #e4f3ff
          svg
            fill: #ee0f39
        @media #{$laptop}
          padding: 34px 8px
        &:nth-child(2)
          top: 20px
          @media #{$tablet}
            top: 0px
        &:nth-child(5)
          top: 20px
          @media #{$tablet}
            top: 0px
        .title
          font-size: 28px
          line-height: 1.2
          padding-bottom: 14px
          position: relative
          &::before
            position: absolute
            content: ''
            width: 30px
            height: 2px
            background-color: #ee0f39
            bottom: 0
            left: 0
        a
          z-index: 1
          text-decoration: none
          background-color: blue
          color: white
          position: relative
          top: 15px
          padding: 10px 20px
          &:hover
            text-decoration: underline
        .service-image
          justify-self: end
          position: absolute
          right: 0px
          height: 200px
          width: 200px
          svg
            transition: all 0.5s ease-in-out

  .call-to-action
    margin-top: 250px
    grid-column: 1 / 13
    .card
      grid-column: 3 / 11
      display: grid
      grid-template-columns: 1fr 1fr
      grid-auto-rows: 1fr
      color: white
      @media #{$laptop}
        grid-column: 2 / 12
      @media #{$tablet}
        grid-column: 2 / -2
      .left
        padding: 40px 74px 100px
        grid-column: 1
        background-color: blue
        border-radius: 24px 0 0 24px
        @media #{$laptop}
          padding: 40px 50px 100px
        @media #{$tablet}
          padding: 20px 30px 60px
        @media #{$ipadmini}
          grid-column: 1 / 13
          border-radius: 24px 24px 0 0

        h4
          font-size: 20px
          font-weight: 400
          position: relative
          padding-left: 10px
          text-transform: uppercase
          &::before
            position: absolute
            content: ""
            width: 2px
            height: 15px
            background-color: white
            top: 45%
            -webkit-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            transform: translateY(-50%)
            left: 0
        h2
          margin-top: 20px
          font-size: 40px
          @media #{$tablet}
            margin-top: 0
        p
          margin-top: 20px
          font-size: 20px
          @media #{$tablet}
            margin-top: 0
        .button
          position: relative
          top: 50px
          background-color: white
          color: blue
          padding: 12px 20px
          text-decoration: none
          border-radius: 8px
          font-size: 20px
          @media #{$tablet}
            top: 20px
          &:hover
            background-color: #ee0f39
            color: white
          &:active
            color: inherit
      .right
        grid-column: 2
        @media #{$ipadmini}
          grid-column: 1 / 13
          border-radius: 0 0 24px 24px
        img
          object-fit: cover
          height: 100%
          border-radius: 0 24px 24px 0
          @media #{$ipadmini}
            border-radius: 0 0 24px 24px

  .process
    grid-column: 2 / 12
    display: grid
    grid-template-columns: repeat(12, 1fr)
    margin-top: 100px
    .process-subtitle
      grid-column: 1 / 13
      grid-row: 1 / span 1
      position: relative
      font-size: 20px
      padding-left: 10px
      text-transform: uppercase
      justify-self: center
      &::before
        position: absolute
        content: ''
        width: 2px
        height: 15px
        background-color: #ee0f39
        top: 45%
        -webkit-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        transform: translateY(-50%)
        left: 0
    .process-title
      grid-column: 1 / 13
      text-align: center
      font-size: 40px
      color: blue
      margin-top: 20px
    .process-description
      grid-column: 1 / 13
      grid-row: 3 / span 1
      text-align: center
      font-size: 16px
      margin-top: 20px
    .process-items
      grid-column: 2 / -2
      display: grid
      grid-template-columns: repeat(4, 1fr)
      gap: 24px
      padding: 0 0rem
      margin-top: 48px
      @media #{$tablet}
        grid-template-columns: repeat(2, 1fr)
      @media #{$mobile}
        grid-template-columns: repeat(1, 1fr)
      .single-process
        height: 250px
        overflow: hidden
        padding: 40px 36px
        position: relative
        border-radius: 10px
        -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
        -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
        @media #{$laptop}
          padding: 40px 20px
        @media #{$tablet}
          padding: 40px 16px
        &::before
          position: absolute
          content: ''
          width: 100%
          height: 8px
          background-color: #ee0f39
          bottom: 0
          left: 0
          -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
          -webkit-transform: translateY(100%)
          -ms-transform: translateY(100%)
          transform: translateY(100%)
        &:hover
          box-shadow: 0px 11px 18px 0px rgb(0 0 0 / 29%)
          background-color: #e4f3ff
          &::before
            -webkit-transform: translateY(0)
            -ms-transform: translateY(0)
            transform: translateY(0)
          .service-image
            .number
              -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
              -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
              transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
              color: #0059ff

        .title
          font-size: 16px
          position: relative
          z-index: 1
          text-align: center
        .service-image
          display: block
          justify-self: end
          height: 100%
          width: 100%
          img
            margin: auto
            height: 100%
          .number
            position: absolute
            font-size: 40px
            left: 18px
            top: 27px
            color: #0059ff30
            font-weight: 700

@keyframes fade
  0%
    opacity: 0
    transform: translateX(-4rem)
  100%
    opacity: 1
    transform: translateX(0)
