.testimonials
  grid-column: 2/12
  display: grid
  grid-template-columns: repeat(4, 1fr)
  margin-top: 100px
  .testimonials-subtitle
    grid-column: 1 / 5
    position: relative
    font-size: 20px
    padding-left: 10px
    justify-self: center
    &::before
      position: absolute
      content: ""
      width: 2px
      height: 15px
      background-color: $color-primary
      top: 45%
      -webkit-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      transform: translateY(-50%)
      left: 0
  .testimonials-title
    grid-column: 1 / 5
    text-align: center
    margin-top: 50px
    font-size: 40px
    color: $color-primary
  .testimonials-description
    grid-column: 1 / 5
    text-align: center
    font-size: 16px
    margin-top: 20px
  .testimonials-items
    grid-column: 1/13
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 32px
    padding: 0 0rem
    margin-top: 48px
    @media #{$laptop}
      grid-template-columns: repeat(2, 1fr)
    @media #{$tablet}
      grid-template-columns: repeat(1, 1fr)
    // @media #{$ipadmini}
    //   grid-template-columns: repeat(1, 1fr)
    // @media #{$mobile}
    //   grid-template-columns: repeat(1, 1fr)
    .single-testimonial
      display: flex
      min-height: 100%
      gap: 6px
      padding: 24px 28px
      background-color: white
      position: relative
      border-radius: $radius-sm
      -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
      .image-container
        img
          position: relative
          top: 2px
          min-width: 40px
          height: 40px
      .testimonial-content
        .reviews
          font-weight: 500
          color: #6d6d6d
        .testimonial-image
          display: flex
          align-items: center
          img
            width: 16px
            height: 14px
          .date-posted
            font-size: 12px
            color: #6d6d6d
            padding-left: 8px
            font-weight: 500
        p
          margin-top: 6px
