/* ========== Colors ========== */
$color-primary: #9B0000;
$color-primary-lite: #7dbed6;
$color-primary-dark: #266278;
$color-primary-opacity: rgba($color-primary, 0.35);
$color-primary-complimentary: #996600; 
$color-secondary: #FFF1DC;
$color-secondary-shade: #FFAD32;
$color-background: #EEEEEE;
$color-text: #040b0d;
$color-text-white: #fafbfc;
$color-gray: #DBDBDB;
/* ========== Font Sizes ========== */
// 12px - 14px
$font-size-sm: clamp(0.75rem, 0.6778rem + 0.3082vw, 0.875rem);
/* 16px - 18px */
$font-size-md: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem);
/* 20px - 24px */
$font-size-lg: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem);
// 28px = 32px
$font-size-xl: clamp(2.25rem, 2.1055rem + 0.6163vw, 2.5rem);
// 50px - 80px
$font-size-heading: clamp(3.125rem, 2.0416rem + 4.6225vw, 5rem);

/* ========== Spacing ========== */
$spacing-sm: 0.5rem clamp(8rem, 5.6888rem + 9.8613vw, 12rem);
$spacing-md: 1rem clamp(12rem, 9.6888rem + 9.8613vw, 16rem);
$spacing-lg: 1.5rem clamp(20rem, 17.6888rem + 9.8613vw, 24rem);
$spacing-xl: 2rem clamp(24rem, 21.6888rem + 9.8613vw, 28rem);

/* ========== Padding ========== */
$padding-button: clamp(0.875rem, 0.8028rem + 0.3082vw, 1rem) clamp(1.4375rem, 1.293rem + 0.6163vw, 1.6875rem);

/* ========== Animation Duration ========== */
$duration-faster: 250ms;
$duration-fast: 500ms;

/* ========== Animation Easing Function ========== */
$slide: cubic-bezier(0.22, 1, 0.36, 1);
$fade: cubic-bezier(0.22, 1, 0.36, 1);

/* ========== Border Radius ========== */
$radius-sm: 3px;
$radius-md: 6px;
$radius-lg: 11px;
$radius-xl: 14px;

/* ========== Opacity ========== */
$opacity-sm: 0.25;
$opacity-md: 0.5;
$opacity-lg: 0.75;

/* ========== Shadows ========== */
$shadow-sm: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
$shadow-md: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
$shadow-lg: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

/* ========== Breakpoints ========== */
$laptop: 'only screen and (max-width: 1440px)';
$tablet: 'only screen and (max-width: 1024px)';
$ipadmini: 'only screen and (max-width: 768px)';
$mobile: 'only screen and (max-width: 550px)';

/* ========== Font Families ========== */
$font-family-headings: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-body: 'Hind Madurai', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-mystery: "Libre Baskerville", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$poop: 'Hind Madurai', sans-serif;
/* ========== Font Weights ========== */
$line-height-reset: 1;
$line-height-normal: 1.5;

/* ========== Containers ========== */
$laptop-side-padding: 6.344rem;
$mobile-side-padding: 1.75rem;
$mobile-button-padding: 0.25rem 1.25rem;

// Colors
$title-color: #0f0f0f;
$active-color: #3e86d2;
$separator-color: #292c2d;
$dirtywhite: #eeeeee;
$white: #4d4d4d;
$red: #e74c3c;
$black: #000;

// // Breakpoints
// @mixin for-phone-only
//   @media (max-width: 599px)
//     @content

// @mixin for-tablet-portrait-up
//   @media (min-width: 600px)
//     @content

// @mixin laptop
//   @media (max-width: 1440px)
//     @content

// @mixin for-desktop-up
//   @media (min-width: 1200px)
//     @content

// @mixin for-big-desktop-up
//   @media (min-width: 1800px)
//     @content
