$primary: #3a98b9
$primaryShade: #7dbed6
$primaryDark: #266278
$primaryopacity: rgba($primary, 0.35)
$secondary: #FFF1DC
$secondaryShade: #FFAD32
$bodyBackgroundColor: #EEEEEE

// 12px - 14px
$fontSize-sm: clamp(0.75rem, 0.7197rem + 0.1294vw, 0.875rem)
/* 14px - 16px */
$topperFontSize: clamp(0.8125rem, 1.6vw, 1rem)
$fontSize-md: clamp(0.875rem, 0.8447rem + 0.1294vw, 1rem)
/* 20px - 24px */
$fontSize-lg: clamp(1.25rem, 1.1055rem + 0.6163vw, 1.5rem)
// 80px - 100px
$fontSize-xxxl: clamp(3.75rem, 1.9443rem + 7.7042vw, 6.875rem)
/* 31px - 49px */
$headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem)
/* 60px - 100px top and bottom */
$sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem

// Text colors
$bodyTextColor: #040b0d
$bodyTextColorWhite: #fafbfc
$headerColor: #1a1a1a

// Fonts
$headerFont: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
$bodyFont: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
$mysteryFont: "Libre Baskerville", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

// Background colors
$backgroundColor: #f5f5f5
$neutral-color: #1a1a1b

// Themes
$theme-color: rgb(255, 106, 0)
$theme-two: #f5f5f5
$theme-three: #0088f8

// Containers
$laptop-side-padding: 6.344rem
$mobile-side-padding: 1.75rem
$mobile-button-padding: 0.25rem 1.25rem

// Accents
$accent: 124 58 237
$accent-gradient: linear-gradient( 45deg rgb($accent) #da62c4 30% white 60%)

// Responsive Variables
$extraBig-device: 'only screen and (min-width: 1500px)'
$laptop: 'only screen and (max-width: 1440px)'
$tablet: 'only screen and (max-width: 1024px)'
$ipadmini: 'only screen and (max-width: 768px)'
$mobile: 'only screen and (max-width: 550px)'

$large-device: 'only screen and (max-width: 1024x)'
$medium-device: 'only screen and (max-width: 768px)'
$small-device: 'only screen and (max-width: 575px)'

// Breakpoints
@mixin for-phone-only
  @media (max-width: 599px)
    @content

@mixin for-tablet-portrait-up
  @media (min-width: 600px)
    @content

@mixin laptop
  @media (max-width: 1440px)
    @content

@mixin for-desktop-up
  @media (min-width: 1200px)
    @content

@mixin for-big-desktop-up
  @media (min-width: 1800px)
    @content

// Colors
$accordion-color: #ffffff
$title-color: #0f0f0f
$active-color: #3e86d2
$separator-color: #292c2d
$dirtywhite: #eeeeee
$white: #4d4d4d
$red: #e74c3c
$black: #000
