.header-top-container
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 0 12px
  @media #{$tablet}
    gap: 0
.header-top
  grid-column: 2 / -2
  display: inline
  margin: 2rem 0 1rem 0
  @media #{$tablet}
    grid-column: 2 / -2
    font-size: $font-size-sm
    margin-top: 1rem
    border-bottom: 1px solid #eaeaea
  p
    display: inline-block
    font-weight: 600

  .number
    &::before
      content: ' || '
    a
      text-decoration: none
      color: $color-primary
  .top-buttons
    display: none
    visibility: hidden

  @media #{$mobile}
    margin: 0
    grid-column: 1 / -1
    .address
      display: none
      visibility: hidden
    .number
      display: none
      visibility: hidden
    .top-buttons
      display: flex
      visibility: visible
      justify-content: space-between
      a
        background-color: $color-primary-complimentary
        color: $color-text-white
        padding: $padding-button
        text-align: center
        outline: 1px solid $color-text
        width: 50%
        height: 98%
        font-weight: 600
        font-size: $font-size-md
