.header-top-container
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 0 12px
  @media #{$tablet}

.header-top
  grid-column: 2 / 12
  display: inline
  margin: 2rem 0 1rem 0
  @media #{$tablet}
    grid-column: 1 / 13
    font-size: clamp(10px, 1.5vw, 14px)
    margin-top: 1rem
    padding: 0 1rem
    border-bottom: 1px solid #eaeaea
  p
    display: inline-block
    font-weight: 700
    font-family: $secondary-font !important

  p:last-child::before
    content: '||'

  p:last-child
    a
      text-decoration: none
