.header-top
  grid-column: 2 / 12
  display: inline
  margin: 2rem 0 1rem 0

  p
    display: inline-block
    font-weight: 700
    font-family: $secondary-font !important
    font-size: 14px

  p:last-child::before
    content: '||'
    font-size: 16px
    padding: 6px

  p:last-child
    a
      text-decoration: none
