---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="details">
	<main class="details grid">
		<div class="details-image"></div>
		<section class="details-hero">
			<div class="details-heading">
				<h4 class="hero-sub-title">Services</h4>
				<h1 class="hero-heading">What we do</h1>
				<div class="breadcrumbs">
					<a href="/">Home</a> //
					<a href="/services">Services</a> //
					<p>Details</p>
				</div>
			</div>
		</section>
		<section class="details-details">
			<div class="details-content">
				<img src="" alt="" />
				<h2>Services</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
					nisl vel ultricies lacinia, nisl nisl aliquet nisl, nec aliquet nisl
					nisl sit amet lorem. Sed euismod, nisl vel ultricies lacinia, nisl
					nisl aliquet nisl, nec aliquet nisl nisl sit amet lorem.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
					nisl vel ultricies lacinia, nisl nisl aliquet nisl, nec aliquet nisl
					nisl sit amet lorem. Sed euismod, nisl vel ultricies lacinia, nisl
					nisl aliquet nisl, nec aliquet nisl nisl sit amet lorem.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
					nisl vel ultricies lacinia, nisl nisl aliquet nisl, nec aliquet nisl
					nisl sit amet lorem. Sed euismod, nisl vel ultricies lacinia, nisl
					nisl aliquet nisl, nec aliquet nisl nisl sit amet lorem.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
					nisl vel ultricies lacinia, nisl nisl aliquet nisl, nec aliquet nisl
					nisl sit amet lorem. Sed euismod, nisl vel ultricies lacinia, nisl
					nisl aliquet nisl, nec aliquet nisl nisl sit amet lorem.
				</p>
			</div>
			<div class="details-interwebs">
				<div class="interwebs-container">
					<ul>
						<li><a href="/services/services-details">Services Details</a></li>
						<li><a>World</a></li>
						<li><a>Tourist</a></li>
						<li><a>America</a></li>
						<li><a>Golden</a></li>
					</ul>
					<img
						src="/assets/images/happy-couple-signing-paperwork-at-auto-mechanic-s-2022-09-27-22-54-22-utc-min.webp"
						alt="happy couple signing paperwork at auto mechanic shop rockville md"
					/>
				</div>
			</div>
		</section>
		<section class="call-to-action grid">
			<div class="card">
				<div class="left">
					<h4>Five-O Autocare</h4>
					<h2>(000) 000 0000</h2>
					<p>
						Five-O Autocare is your auto repair, and tire, wheel alignment, oil
						change, transmission, air conditioning service and engine repair
						center in Rockville, Maryland. We offer AC/cooling services for both
						cars and trucks.
					</p>
					<div class="">
						<a href="/contact" class="button">Contact us</a>
					</div>
				</div>
				<div class="right"></div>
			</div>
		</section>
	</main>
</Layout>
