.faq-content
  grid-column: 2 / -2
  margin-top: 10rem
  display: grid
  grid-template-columns: 2fr 1fr
  @media #{$ipadmini}
    grid-column: 1 / -1
    padding: 0 3rem
  @media #{$mobile}
    padding: 0 1rem
  .faq-subtitle
    grid-column: 1 / -1
    grid-row: 1 / span 1
    position: relative
    font-size: 20px
    padding-left: 10px
    text-transform: uppercase
    justify-self: center
    &::before
      position: absolute
      content: ''
      width: 2px
      height: 15px
      background-color: $color-primary
      top: 45%
      -webkit-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      transform: translateY(-50%)
      left: 0
  .faq-title
    grid-column: 1 / -1
    text-align: center
    font-size: 40px
    color: $color-primary
    margin-top: 20px
  .faq-description
    grid-column: 1 / -1
    grid-row: 3 / span 1
    text-align: center
    font-size: 16px
    margin-top: 20px

  .accordion
    grid-column: 1 / -1
    margin: 3rem auto 0
    max-width: 50rem
    .accordion-item
      position: relative
      display: flex
      flex-direction: column
      min-width: 35rem
      background-color: $color-gray
      border: 1px solid rgba(34, 36, 38, 0.15)
      &:not(:last-child)
        border-bottom: 1px solid rgba(34, 36, 38, 0.35)
      .accordion-head
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1rem
        h3
          font-weight: 600
        .image-wrapper
          padding: 1rem 0.5rem
          transform: rotate(90deg)
          &:hover
            background-color: #fff
      .accordion-content
        position: relative
        width: 100%
        background-color: rgb(245, 245, 245)
        // Animate
        transition: transform $duration-fast $slide, max-height $duration-fast $slide, padding $duration-faster $slide
        transform-origin: top
        transform: scaleY(0)
        max-height: 0
        padding: 0
        &.active
          transform: scaleY(1)
          max-height: 900px
          padding: .5rem .5rem 0
