.contact
  margin-top: 10rem
  grid-column: 2 / -2
  display: flex
  gap: 2rem
  .image-container
    width: 100%
    img
      border-radius: $radius-md
      box-shadow: $shadow-md
      width: 100%
      height: 100%
      object-fit: cover
    @media #{$tablet}
      display: none
      visibility: hidden
  .content
    width: 100%
    .content-items
      margin-top: 40px
      display: flex
      gap: 1.5rem
      flex-wrap: wrap
      @media #{$mobile}
        gap: 0
      .single-content
        width: calc(50% - .75rem)
        font-weight: 500
        @media #{$mobile}
          width: 100%
          &:not(:first-child)
            margin-top: 40px
        .content
          font-size: 1.1rem
          margin-top: 10px
          ul
            li
              &:not(:first-child)
                padding-top: 15px
          p
            &:not(:first-child)
              padding-top: 15px
          a
            color: $color-primary
            &:not(:first-child)
              display: block
              padding-top: 15px
.form
  margin-top: 10rem
  grid-column: 3 / -3
  > h2
    text-align: center
  @media #{$tablet}
    grid-column: 2 / -2
  .feed-form
    margin-top: 40px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.5rem 1rem
    @media #{$ipadmini}
      grid-template-columns: repeat(2, 1fr)
    @media #{$mobile}
      grid-template-columns: repeat(1, 1fr)
    .name, .phone, .email
      display: flex
      flex-direction: column
      font-family: $font-family-body
      label
        padding-left: 2px
        padding-bottom: 2px
      input
        height: 54px
        border-radius: $radius-sm
        border: none
        padding-left: 20px
      + input[name="email"]
        @media #{$ipadmini}
          grid-column: 1 / -1
      + input[name="message"]
        grid-column: 1 / -1
    .message
      grid-column: 1 / -1
      textarea
        width: 100%
        border-radius: $radius-sm
        border: none
        padding: 20px
        font-family: Arial, Helvetica, sans-serif
    .button_container
      grid-column: 1 / -1
      display: flex
      justify-content: center
      .button_submit
        min-width: 100%
        height: 54px
        color: $color-text-white
        background: $color-primary
        border-radius: $radius-sm
        border: none
        text-transform: uppercase
        transition: all .3s ease
        &:hover
          transform: scale(.99)
          box-shadow: $shadow-sm
          cursor: pointer
