
.details
  position: relative
  .details-image
    grid-column: 1 / -1
    background-color: blue
    height: 450px
    width: 100%
    position: absolute
    z-index: 0
    top: 0
    left: 0

  .details-hero
    grid-column: 2 / -2
    z-index: 1
    color: white
    margin-top: 6rem
    .details-heading
      margin-top: 1.5rem
      grid-column: 2 / -1

      .breadcrumbs
        margin-top: 1rem
        grid-column: 1 / -1
        display: flex
        gap: .55rem
        a
          color: white
          text-decoration: none
          &:hover
            text-decoration: underline

  .details-details
    grid-column: 2 / -2
    margin-top: 20rem
    display: grid
    grid-template-columns: 2fr 1fr
    @media #{$ipadmini}
      grid-column: 1 / -1
      padding: 0 3rem
    @media #{$mobile}
      padding: 0 1rem
    .details-content
      grid-column: 1 / 2
      @media #{$ipadmini}
        grid-column: 1 / -1
      img
        background-color: red
        height: 350px
        border-radius: 16px
      h2
        margin-top: 1.5rem
        font-size: 2.5rem
        font-weight: 700
      p
        margin-top: 1.5rem
        font-size: 1.25rem
        font-weight: 400
        line-height: 1.5
    .details-interwebs
      grid-column: 2 / 3
      padding-left: 2rem
      @media #{$ipadmini}
        display: none
        visibility: hidden
      ul
        li
          padding: 1rem 0
          background-color: lightblue
          border-radius: 10px
          text-align: center
          &:not(:last-child)
            margin-bottom: .75rem
          &:hover
            background-color: blue
            color: white
            box-shadow: 0 0 10px 2px #0000003b
          a
            padding: 1rem 2rem
            font-weight: 600
      img
        object-fit: cover
        margin-top: 1.5rem
        height: 350px
        border-radius: 16px
        background-color: red
