
.services-content
  grid-column: 1 / 2
  @media #{$ipadmini}
    grid-column: 1 / -1
  img
    object-fit: cover
    width: 100%
    height: 350px
    border-radius: 16px
  .services-tiles
    .services-content-heading
      margin-top: 1.5rem
      font-size: 2.5rem
      font-weight: 600
    .services-items
      margin-top: 1.5rem
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 1rem
      @media #{$ipadmini}
        grid-template-columns: 1fr
      .services-item
        background-color: lightblue
        border-radius: 10px
        padding: 1rem 1rem
        position: relative
        overflow: hidden
        .services-item-heading
          position: relative
          font-size: 1.8rem
          font-weight: 800
          margin-bottom: .5rem
          z-index: 2
        a
          text-decoration: none
          cursor: pointer
          z-index: 3
          &:hover
            text-decoration: underline
        .services-item-content
          border-radius: 0px
          height: 200px
          width: 70%
          transition: all .5s ease-in-out
          position: absolute
          top: -45px
          right: 0
          fill: #00000013
        &:hover
          .services-item-content
            fill: #00000026
.services-interwebs
  grid-column: 2 / 3
  padding-left: 2rem
  @media #{$ipadmini}
    display: none
    visibility: hidden
  ul
    li
      padding: 1rem 0
      background-color: lightblue
      border-radius: 10px
      text-align: center
      &:not(:last-child)
        margin-bottom: .75rem
      &:hover
        background-color: blue
        color: white
        box-shadow: 0 0 10px 2px #0000003b
      a
        padding: 1rem 2rem
        font-weight: 600
  img
    object-fit: cover
    margin-top: 1.5rem
    height: 350px
    border-radius: 16px
    background-color: red
