---
import Battery from "../components/assets/Battery.astro";
import Oil from "../components/assets/Oil.astro";
import Tire from "../components/assets/Tire.astro";
import Brakes from "../components/assets/Brakes.astro";
import CarWash from "../components/assets/CarWash.astro";
import Engine from "../components/assets/Engine.astro";
import Layout from "../layouts/Layout.astro";
import { client } from "../data/client";
import CallToAction from "../components/section/CallToAction.astro";
---

<Layout
	title="Five-O Autocare"
	seo_title="Mechanic Services Rockville"
	seo_description={`${client.phoneFormatted} Mechanic services in Rockville, MD? Our experienced team offers repairs, maintenance, and diagnostics. Contact us today. Rockville, Maryland`}
>
	<main class="grid">
		<div class="hero-image-container">
			<img
				src="/assets/images/rockville-md-town-center.webp"
				alt="rockville md town center"
			/>
		</div>
		<section class="hero">
			<div class="heading">
				<h4 class="hero-sub-title">TRUSTED MECHANIC SHOP FOR 28 YEARS</h4>
				<h1 class="hero-heading">Rockville Mechanic & Auto Repair</h1>
				<p class="hero-subheading">
					Five-O Autocare is a mechanic and auto repair service in Rockville,
					Maryland. Maryland state inspection Tire and wheel alignment, oil
					change, transmission and engine repair, etc...
				</p>
				<div class="contact-button">
					<a href="/contact" class="contact-button">Contact us</a>
				</div>
			</div>
			<div class="hero-image-1">
				<img src="/assets/images/Car_mechanic_icon.png" alt="" />
			</div>
		</section>

		<section class="service">
			<h4 class="service-subtitle">What we do</h4>
			<h2 class="service-title">Our Services<br />We Provide</h2>
			<div class="service-items">
				<div class="single-service">
					<h4 class="title">Brake Repair</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Brakes />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Engine Repair</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Engine />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Regular Maintenance</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<CarWash />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Battery Replacement</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Battery />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Change Oil and Filter</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Oil />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Tire Repair</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Tire />
					</span>
				</div>
			</div>
		</section>
		<CallToAction />
		<section class="process">
			<h4 class="process-subtitle">What we do</h4>
			<h2 class="process-title">How we work</h2>
			<p class="process-description">
				Trusted and reliable service is our main goal
			</p>
			<div class="process-items">
				<div class="single-process">
					<span class="service-image"
						><span class="number">01</span><img
							src="/assets/images/work-1-min.webp"
						/></span
					>
					<h4 class="title">Book appointment</h4>
				</div>
				<div class="single-process">
					<span class="service-image"
						><span class="number">02</span><img
							src="/assets/images/work-2-min.webp"
						/></span
					>
					<h4 class="title">Bring your Vehical</h4>
				</div>
				<div class="single-process">
					<span class="service-image"
						><span class="number">03</span><img
							src="/assets/images/work-3-min.webp"
						/></span
					>
					<h4 class="title">Get it Repaired</h4>
				</div>
				<div class="single-process">
					<span class="service-image"
						><span class="number">04</span><img
							src="/assets/images/work-4-min.webp"
						/></span
					>
					<h4 class="title">Ready for Delivery</h4>
				</div>
			</div>
		</section>
		<section class="testimonials">
			<h4 class="testimonials-subtitle">What our customers say</h4>
			<h2 class="testimonials-title">Customer Stories</h2>
			<p class="testimonials-description">
				Trusted and reliable service is our main goal
			</p>
			<div class="testimonials-items">
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-0.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Kourtney King</h4>
						<h5 class="reviews">3 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">2 years ago</h5>
						</div>
						<p>
							David is a very honest an trustworthy mechanic you won't find
							better, he leaves you very satisfied with his work and won't try
							to run game on you if you don't know much about cars I've been
							going to him for all my services for all my cars for almost 3
							years I can honestly say I will never go anywhere else. So if you
							looking for a good mechanic that has reasonable pricing David is
							your guy.
						</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-3.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Kevin</h4>
						<h5 class="reviews">2 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">10 months ago</h5>
						</div>
						<p>
							Best place to get your car repaired, and I would 100% recommend.
							Mr. Caceres is very knowledgeable, provided exceptional customer
							service, and was able to repair my car in a timely manner.
						</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-2.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Christian Valladares</h4>
						<h5 class="reviews">2 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">10 months ago</h5>
						</div>
						<p>
							If you need someone professional and good pricing with your
							vehicle this place is your place then! One of the fastest and best
							service I've ever had. They really took good care of my car. I
							would definitely suggest to give it a visit for anything that you
							need in your car. I would give it 10 stars if I could. You won't
							regret it!
						</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-4.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Tom Hughes</h4>
						<h5 class="reviews">1 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">2 years ago</h5>
						</div>
						<p>
							We can always count on the team at Five-O Autocare. Reliable.
							Reasonable. Whatever we need. They take care of us.
						</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/pp.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Damien Begley</h4>
						<h5 class="reviews">2 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">5 months ago</h5>
						</div>
						<p>
							David is a hero! He truly is. Great person. Great mechanic.i
							simply cannot say enough good things about him.
						</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-1.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Shashi Bellamkonda</h4>
						<h5 class="reviews">179 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">6 years ago</h5>
						</div>
						<p>
							David takes good care of our cars and its very reasonably priced
						</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-6.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Abdulsalim Neazai</h4>
						<h5 class="reviews">28 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">6 years ago</h5>
						</div>
						<p>A good honest place fair price good service very friendly.</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-5.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Andy Plunket</h4>
						<h5 class="reviews">1 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">2 years ago</h5>
						</div>
						<p>Fantastic service and fair prices, cannot recommend enough!!!</p>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="image-container">
						<img src="/assets/images/customer-7.png" alt="testimonial" />
					</div>
					<div class="testimonial-content">
						<h4 class="name">Alan Neuhauser</h4>
						<h5 class="reviews">9 reviews</h5>
						<div class="testimonial-image">
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<img src="/assets/images/star.png" alt="star reviews" />
							<h5 class="date-posted">2 years ago</h5>
						</div>
						<p>Great service</p>
					</div>
				</div>
			</div>
		</section>
		<section class="about">
			<div class="about-container">
				<div class="about-image"></div>
				<h4 class="about-sub-title">
					Welcome to <span class="red">Five-O Autocare</span>
				</h4>
				<h2 class="about-title">Latest Equipments with Trusted Service</h2>
				<div class="about-description">
					<p>Rockville Mechanic & Auto Repair service center near you.</p>
					<p>
						Don't let a flat tire stop you from getting where you need to go.
						Let Five-O Autocare replace and balance your tires, give you a
						routine service, or offer an oil change today.
					</p>
					<div class="about-button">
						<a href="/contact">Contact us</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
