---
import Battery from "../components/assets/Battery.astro";
import Oil from "../components/assets/Oil.astro";
import Tire from "../components/assets/Tire.astro";
import Brakes from "../components/assets/Brakes.astro";
import CarWash from "../components/assets/CarWash.astro";
import Engine from "../components/assets/Engine.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="grid">
		<section class="hero">
			<div class="heading">
				<h4 class="hero-sub-title">A GARAGE FOR ALL MODELS</h4>
				<h1 class="hero-heading">Rockville Mechanic & Auto Repair</h1>
				<p class="hero-subheading">
					Five-O Autocare is a mechanic and auto repair service in Rockville,
					Maryland. Maryland state inspection Tire and wheel alignment, oil
					change, transmission and engine repair, etc...
				</p>
				<div class="overlay">
					<a href="tel:0000000000" class="contact-button">Contact us</a>
					<div class="hero-image-1"></div>
				</div>
			</div>
		</section>
		<div class="hero-image-container">
			<div class="hero-image"></div>
		</div>
		<section class="about">
			<div class="about-image"></div>
			<h4 class="about-sub-title">
				Welcome to <span class="red">Five-O Autocare</span>
			</h4>
			<h2 class="about-title">Latest Equipments with Trusted Service</h2>
			<div class="about-description">
				<p>Rockville Mechanic & Auto Repair service center near you.</p>
				<p>
					Don't let a flat tire stop you from getting where you need to go. Let
					Five-O Autocare replace and balance your tires, give you a routine
					service, or offer an oil change today.
				</p>
				<a href="tel:0000000000" class="about-button">Contact us</a>
				<!-- <p>
					At our Mechanic Shop, we understand how frustrating it can be when
					your car breaks down. Whether it's unexpected or simply due to wear
					and tear, it can put a real damper on your day. But we're here to
					help. Our team of technicians has years of experience fixing cars, and
					they know exactly what it takes to get you back on the road. We
					believe that car repair should be a stress-free experience, which is
					why we work hard to make sure that you're always treated with respect
					and that your car is fixed right the first time. We know that you have
					places to go and things to do, and we don't want you to waste any more
					time than you have to. So come on by, and let us take care of
					everything for you. Our team will diagnose your car, provide a fair
					and transparent estimate, and get to work fixing your car so you can
					get back to your day. With our expert technicians and commitment to
					quality workmanship, you can relax and trust that your car is in good
					hands.
				</p>
				<br />
				<p>
					Welcome to our Mechanic Shop! We are a team of highly skilled and
					experienced technicians dedicated to providing top-notch automotive
					repair services to our customers. With years of experience under our
					belts and a passion for keeping cars running smoothly, we've earned a
					reputation for delivering quality workmanship and exceptional customer
					service. Whether you need routine maintenance or extensive repairs,
					our shop has the tools and expertise to get you back on the road in no
					time. From oil changes to engine rebuilds, we do it all. So come on
					by, and let us help you keep your vehicle running smoothly for years
					to come.
				</p> -->
				<div class="about-image-2"></div>
			</div>
			<div class="sidebar-service">
				<h2>Services</h2>
				<ul>
					<li>Wheel Alignment</li>
					<li>Oil Change</li>
					<li>Engine Repair</li>
					<li>Tune Ups</li>
				</ul>
			</div>
		</section>
		<section class="service">
			<h4 class="service-subtitle">What we do</h4>
			<h2 class="service-title">Our Services<br />We Provide</h2>
			<div class="service-items">
				<div class="single-service">
					<h4 class="title">Brake Servicing</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Brakes />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Entire Engine Servicing</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Engine />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Regular Maintenance</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<CarWash />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Battery Replacement</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Battery />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Change Oil and Filter</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Oil />
					</span>
				</div>
				<div class="single-service">
					<h4 class="title">Tire Change and Repair</h4>
					<a href="/">Learn more</a>
					<span class="service-image">
						<Tire />
					</span>
				</div>
			</div>
		</section>
		<section class="call-to-action grid">
			<div class="card">
				<div class="left">
					<h4>Five-O Autocare</h4>
					<h2>(000) 000 0000</h2>
					<p>
						Five-O Autocare is your auto repair, and tire, wheel alignment, oil
						change, transmission, air conditioning service and engine repair
						center in Rockville, Maryland. We offer AC/cooling services for both
						cars and trucks.
					</p>
					<div class="">
						<a href="/" class="button">Contact us</a>
					</div>
				</div>
				<div class="right"></div>
			</div>
		</section>
		<section class="process">
			<h4 class="process-subtitle">What we do</h4>
			<h2 class="process-title">How we work</h2>
			<p class="process-description">
				Trusted and reliable service is our main goal
			</p>
			<div class="process-items">
				<div class="single-process">
					<span class="service-image"><span class="number">01</span></span>
					<h4 class="title">Brake Servicing</h4>
				</div>
				<div class="single-process">
					<span class="service-image"><span class="number">01</span></span>
					<h4 class="title">Brake Servicing</h4>
				</div>
				<div class="single-process">
					<span class="service-image"><span class="number">01</span></span>
					<h4 class="title">Brake Servicing</h4>
				</div>
				<div class="single-process">
					<span class="service-image"><span class="number">01</span></span>
					<h4 class="title">Brake Servicing</h4>
				</div>
			</div>
		</section>
		<section class="testimonials">
			<h4 class="testimonials-subtitle">What our customers say</h4>
			<h2 class="testimonials-title">Testimonials</h2>
			<p class="testimonials-description">
				Trusted and reliable service is our main goal
			</p>
			<div class="testimonials-items">
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
				<div class="single-testimonial">
					<div class="testimonial-image"></div>
					<div class="testimonial-content">
						<p>
							“Five-O Autocare is your auto repair, and tire, wheel alignment,
							oil change, transmission, air conditioning service and engine
							repair center in Rockville, Maryland. We offer AC/cooling services
							for both cars and trucks.”
						</p>
						<h4 class="name">John Doe</h4>
						<h5 class="position">CEO, Company</h5>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
