---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { pages } from "../data/pages";
import CallToAction from "../components/section/CallToAction.astro";

const submenu = pages.filter((item) => item.submenu);
const sub = submenu.map((item) => item);
const sub1 = sub.map((item) => item.submenu);

---

<Layout title="Services" seo_title="Mechanic Services Rockville - Services" seo_description="Our experienced team offers top-quality repairs, maintenance, and diagnostics for all makes and models of vehicles. Keep your car running smoothly.">
	<PageLayout title="Services" subtitle="Services" breadcrumb="Services">
		<ContentLayout>
			<div class="services-content">
				<img
					src="/assets/images/automotive-maintenance-mechanic-explain-repair-con-2022-01-06-16-30-07-utc-min.webp"
					alt="automotive maintenance mechanic explain repair concept"
				/>
				<section class="services-tiles">
					<h2 class="services-content-heading">Our Services</h2>
					<ul class="services-items">
						{
							sub1[0]!.map((item) => {
								return (
									<li class="services-item">
										{item.image ? (
											<img
												src={item.image}
												alt={item.image_alt}
												loading="lazy"
											/>
										) : (
										<></>
										)}
										<div class="content">
											<p class="services-item-heading">{item.name}</p>
											<p>{item.description}</p>
											<div class="services-slug">
												<a href={"/services" + item.slug}>Learn more</a>
											</div>
										</div>
									</li>
								);
							})
						}
					</ul>
				</section>
			</div>
		</ContentLayout>
		<CallToAction />
	</PageLayout>
</Layout>

<script>
	//function turn string into slug
	function slugify(str: string) {
		return str
			.toString()
			.normalize("NFD")
			.replace(/[\u0300-\u036f]/g, "")
			.toLowerCase()
			.trim()
			.replace(/&/g, "-and-")
			.replace(/[\s\W-]+/g, "-");
	}
	// console.log(slugify("what is transmission and why do I need to repair it"))
</script>