---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
	<main class="services grid">
		<div class="services-image"></div>
		<section class="services-hero">
			<div class="services-heading">
				<h4 class="hero-sub-title">Services</h4>
				<h1 class="hero-heading">What we do</h1>
				<div class="breadcrumbs">
					<a href="/">Home</a><p>// Services</p>
				</div>
			</div>
		</section>
	</main>
</Layout>
