---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { pages } from "../data/pages";

const submenu = pages.filter((item) => item.submenu);
const sub = submenu.map((item) => item);
const sub1 = sub.map((item) => item.submenu);

// console.log(sub1[0]);
// sub1.forEach((item) => {
// 	console.log(item);
// });
---

<Layout title="Services">
	<PageLayout title="Services" subtitle="Services" breadcrumb="Services">
		<ContentLayout>
			<div class="services-content">
				<img
					src="/assets/images/automotive-maintenance-mechanic-explain-repair-con-2022-01-06-16-30-07-utc-min.webp"
					alt="automotive maintenance mechanic explain repair concept"
				/>
				<section class="services-tiles">
					<h2 class="services-content-heading">Our Services</h2>
					<ul class="services-items">
						{
							sub1[0]!.map((item) => {
								return (
									<li class="services-item">
										{item.image ? (
											<img
												src={item.image}
												alt={item.image_alt}
												loading="lazy"
											/>
										) : (
										<></>
										)}
										<div class="content">
											<p class="services-item-heading">{item.name}</p>
											<a href={"/services" + item.slug}>Learn more</a>
										</div>
									</li>
								);
							})
						}
					</ul>
				</section>
			</div>
		</ContentLayout>
		<section class="call-to-action grid">
			<div class="card">
				<div class="left">
					<h4>Five-O Autocare</h4>
					<h2>(000) 000 0000</h2>
					<p>
						Five-O Autocare is your auto repair, and tire, wheel alignment, oil
						change, transmission, air conditioning service and engine repair
						center in Rockville, Maryland. We offer AC/cooling services for both
						cars and trucks.
					</p>
					<div class="">
						<a href="/" class="button">Contact us</a>
					</div>
				</div>
				<div class="right">
					<img
						src="../assets/images/mechanic-rockville-md-nearby.webp"
						alt="mechanic rockville md nearby"
					/>
				</div>
			</div>
		</section>
	</PageLayout>
</Layout>
