---
import { client } from "../../data/client";
---

<div class="header-top-container">
	<div class="header-top">
		<p>{client.address.lineOne}, {client.address.city}</p>
		<p>
			Call now:
			<a href={`tel:${client.phone}`}>{client.phoneFormatted}</a>
		</p>
	</div>
</div>
