---
import MobileMenu from "./MobileMenu.svelte";
import SubMenu from "./SubMenu.astro";
import Menu from "/assets/icons/menu.svg";
---

<div class="header-main grid">
	<div class="logo">Mechanic Rockville</div>
	<nav class="desktop-menu">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li class="menu-item-has-children">
				<a href="/services">Services</a>
				<SubMenu />
			</li>
			<li>
				<a href="/articles">Articles</a>
			</li>
			<li>
				<a href="/about-us">About Us</a>
			</li>
			<li>
				<a href="/faq">FAQ</a>
			</li>
		</ul>
	</nav>
	<a href="tel:0000000000" class="tel">000-000-0000</a>
	<MobileMenu client:load />
</div>
