---
import SubMenu from "./SubMenu.astro";
import Menu from "/assets/icons/menu.svg";
---

<div class="header-main grid">
	<div class="logo">Mechanic Rockville</div>
	<nav>
		<ul>
			<li>
				<a href="home">Hello</a>
			</li>
			<li class="menu-item-has-children">
				<a href="/services">Services</a>
				<SubMenu />
			</li>
			<li>
				<a href="world">World</a>
			</li>
			<li>
				<a href="technology">Technology</a>
			</li>
		</ul>
	</nav>
	<a href="tel:0000000000" class="tel">000-000-0000</a>
	<div class="mobile-menu">
		<img src="/assets/icons/menu.svg" alt="menu" />
	</div>
</div>
