---
import MobileMenu from "./MobileMenu.svelte";
import SubMenu from "./SubMenu.astro";
import { pages } from "../../data/pages";
---

<div class="header-main grid">
	<div class="header-container">
		<div class="logo">Mechanic Rockville</div>
		<nav class="desktop-menu">
			<ul>
				{
					pages.map((item) => (
						<li class={item.menuHadChildren ? "menu-item-has-children" : ""}>
							<a href={item.slug} class="desktop-menu-items">
								{item.name}
							</a>
							{item.menuHadChildren && <SubMenu />}
						</li>
					))
				}
			</ul>
		</nav>
		<MobileMenu client:load />
	</div>
</div>
