---
import { pages } from "../../data/pages";

const submenu = pages.filter((item) => item.submenu);
const sub = submenu.map((item) => item);
const sub1 = sub.map((item) => item.submenu);
---

<ul class="sub-menu">
	{
		sub1[0]!.map((subitem: any) => (
			<li class={subitem.menuHadChildren ? "menu-item-has-children" : ""}>
				<a href={`/services${subitem.slug}`}>{subitem.name}</a>
			</li>
		))
	}
</ul>
