
.footer
  grid-column: 1 / -1
  margin-top: 10rem
  background-color: $primary
  color: $bodyTextColorWhite
  .footer-items
    list-style: none
    padding: 8rem 0
    padding-left: 0
    grid-column: 2 / -2
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    gap: 1rem 2rem
    @media #{$laptop}
      grid-template-columns: 1fr 1fr 1fr 1fr
    @media #{$tablet}
      grid-template-columns: 1fr 1fr 1fr
    @media #{$ipadmini}
      grid-template-columns: 1fr 1fr
    @media #{$mobile}
      grid-template-columns: 1fr
    .single-footer
      @media #{$ipadmini}
        padding: 1rem 0
      &:nth-child(3)
        width: 10rem
      h4
        font-size: 1.1rem
      ul
        list-style: none
        margin-top: 1rem
        padding: 0
      .hour-items
        li
          margin-top: 1rem
      .hour-items
        max-width: 15rem
        margin-top: 16px
        font-weight: 300
        .single-hour
          display: flex
          justify-content: space-between
          margin-top: 16px
          font-weight: 300
          .day
            font-weight: 500
          .hour
            font-weight: 500
      .quick-links
        li
          a
            &:hover
              text-decoration: underline
              cursor: pointer
          &:not(:first-child)
            margin-top: 1rem

      .information
        li
          margin-top: 1rem
          a
            &:hover
              text-decoration: underline
              cursor: pointer
      .profile
        li
          margin-top: 1rem
          p
      .contact-info
        li
          margin-top: 1rem

  .footer-main
    grid-column: 1 / -1
    background-color: black
    p
      text-align: center
      padding: 2rem 0
      color: white
      font-size: 0.8rem
      a
        font-weight: 600
        color: $bodyTextColorWhite
        &:hover
          text-decoration: underline
          cursor: pointer
