---
import data from "../data/paths.json";

const { paths } = data;
---

<footer class="footer grid">
	<ul class="footer-items">
		<li class="single-footer">
			<h4>Profile</h4>
			<ul class="profile">
				<li><p>Trusted and reliable service is our to main goal</p></li>
			</ul>
		</li>
		<li class="single-footer">
			<h4>Quick Links</h4>
			<ul class="hour-items">
				{
					paths.map((item) => (
						<li>
							<a href={item.slug}>{item.name}</a>
						</li>
					))
				}
				<!-- <li><a>Hello</a></li>
				<li><a>World</a></li>
				<li><a>Computer</a></li>
				<li><a>Technology</a></li> -->
			</ul>
		</li>
		<li class="single-footer">
			<h4>Information</h4>
			<ul class="information">
				<li><a>Brakes</a></li>
				<li><a>Engines</a></li>
				<li><a>Tires</a></li>
				<li><a>Electronics</a></li>
			</ul>
		</li>
		<li class="single-footer">
			<h4>Hours</h4>
			<ul class="hour-items">
				<li class="single-hour">
					<div class="day">Mon</div>
					<div class="hour">9:00am - 6:00pm</div>
				</li>
				<li class="single-hour">
					<div class="day">Tues</div>
					<div class="hour">9:00am - 6:00pm</div>
				</li>
				<li class="single-hour">
					<div class="day">Wed</div>
					<div class="hour">9:00am - 6:00pm</div>
				</li>
				<li class="single-hour">
					<div class="day">Thur</div>
					<div class="hour">9:00am - 6:00pm</div>
				</li>
				<li class="single-hour">
					<div class="day">Fri</div>
					<div class="hour">9:00am - 6:00pm</div>
				</li>
				<li class="single-hour">
					<div class="day">Sat</div>
					<div class="hour">9:00am - 6:00pm</div>
				</li>
				<li class="single-hour">
					<div class="day">Sun</div>
					<div class="hour">Closed</div>
				</li>
			</ul>
		</li>
		<li class="single-footer">
			<h4>Contact Info</h4>
			<ul class="contact-info">
				<li>Address: 422 N Stonestreet Ave, Rockville, MD 20850</li>
				<li>Hours: Opens 8 AM</li>
				<li>Phone: (240) 601-6983</li>
				<li>Email: info@carserv.com</li>
			</ul>
		</li>
	</ul>
	<div class="footer-main">
		<p>© No copyright I guess? Do whatever you want with the site</p>
	</div>
</footer>
