<section class="content-layout-content-layout">
	<div class="content-layout-content">
		<slot />
	</div>
	<div class="content-layout-interwebs">
		<div class="interwebs-container">
			<ul>
				<li><a href="/services/services-details">Services Details</a></li>
				<li><a>World</a></li>
				<li><a>Tourist</a></li>
				<li><a>America</a></li>
				<li><a>Golden</a></li>
			</ul>
			<img
				src="/assets/images/happy-couple-signing-paperwork-at-auto-mechanic-s-2022-09-27-22-54-22-utc-min.webp"
				alt="happy couple signing paperwork at auto mechanic shop rockville md"
			/>
		</div>
	</div>
</section>
